<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621579969826-gvol5suqat52onsu044h9car554fgm66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621579969826-gvol5suqat52onsu044h9car554fgm66</string>
	<key>API_KEY</key>
	<string>AIzaSyA6mmL4FIzmmfOwaEDioE2mhiUi1JeMPbs</string>
	<key>GCM_SENDER_ID</key>
	<string>621579969826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patriotnative.iOSDeveloperChallenge</string>
	<key>PROJECT_ID</key>
	<string>iosdeveloperchallange</string>
	<key>STORAGE_BUCKET</key>
	<string>iosdeveloperchallange.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621579969826:ios:b06916911e4ed3b804f17b</string>
</dict>
</plist>